<nav class="nav">
    <div class="nav-warpper">
        <a href="{{site.url}}/index.html" class="brand-logo">{{site.brand}}</a>
        <a data-activates="nav-moblie" class="button-collapse right mobile-btn"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{site.url}}/index.html" class="active">Blog</a></li>
            <li><a href="{{site.url}}/portofolio.html">Portofolio</a></li>
            <li><a href="https://github.com/CristianDeveloper">Github</a></li>
        </ul>
        <ul id="nav-moblie" class="side-nav">
            <li><a href="{{site.url}}/index.html" class="active">Blog</a></li>
            <li><a href="{{site.url}}/portofolio.html" class="active">Portofolio</a></li>
            <li><a href="https://github.com/CristianDeveloper" class="active">Github</a></li>
        </ul>
    </div>
</nav>
